/* ============== font family ============== */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #000;
    --sky: #008BD5;
    --grey: #646464;
    --orange: #FF6600;
    --navy-blue: #053D63;
    --transition: all 0.7s ease-in-out;
}

body {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--grey);
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1.5px;
    color: var(--navy-blue);
    text-transform: capitalize;
    font-family: 'Concert One', cursive;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    color: var(--white);
}

h2 {
    font-size: 50px;
    line-height: 50px;
    font-family: 'Square Peg', cursive;
    color: var(--orange);
    margin-bottom: 20px;
}

h3 {
    font-size: 60px;
    line-height: 60px;
}

h4 {
    font-size: 32px;
    line-height: 32px;
    color: var(--sky);
}

h5 {
    font-size: 24px;
    line-height: 24px;
}

h6 {
    font-size: 20px;
    line-height: 20px;
}

p {
    margin: 0;
    font-size: 18px;
    color: var(--grey);
    margin: 10px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.breadcrumb a,
.breadcrumb li {
    color: var(--dark-blue);
    font-weight: 500;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-navy-blue,
.btn-orange {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 6px;
    transition: var(--transition);
    overflow: hidden;
}

.btn-navy-blue a,
.btn-orange a {
    color: var(--white);
}

.btn-orange {
    background: url('../img/orange-btn.png')center center no-repeat;
    background-size: cover;
}

.btn-orange:hover {
    background: url('../img/navy-blue-btn.png')center center no-repeat;
    background-size: cover;
}

.btn-navy-blue {
    background: url('../img/navy-blue-btn.png')center center no-repeat;
    background-size: cover;
}

.btn-navy-blue:hover {
    background: url('../img/orange-btn.png')center center no-repeat;
    background-size: cover;
}

.space-y {
    padding: 100px 0;
}
/* ========== windows side scrollbar css Start =========== */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--grey); 
    border-radius: 10px;
    /* display: none; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--navy-blue); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange); 
  }
/* ========== windows side scrollbar css End =========== */
/* =============== Bottom-Top CSS =============== */
/* Bottom-Top CSS */
#backtop {
    position: fixed;
    bottom: 30px;
    right: -50px;
    z-index: 99;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    font-size: 24px;
    color: var(--white);
    background-color: var(--navy-blue);
    box-shadow: 5px 5px 5px 0px #00000070;
    transition: var(--transition);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#backtop.show{
    right: 30px;
    transition: var(--transition);
}

/* =============== HEADER SECTION START =============== */
header {
    position: relative;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: -1px;
}
header.fix-nav {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

header.fix-nav .top-header {
    margin-top: -63px;
    transition: var(--transition);
}
/* =============== TOP HEADER SECTION START =============== */
.top-header {
    padding: 10px 0;
    transition: var(--transition);
    background-color: var(--navy-blue);
}

.top-header-items-wrap,
.top-header-items,
ul.social-media {
    display: flex;
    align-items: center;
}

.top-header-items-wrap {
    justify-content: space-between;
}

.top-header-items,
ul.social-media {
    justify-content: center;
    gap: 15px;
}

.top-header-items p,
.top-header-items a,
.top-header-items i {
    font-size: 16px;
    /* font-weight: 500; */
    color: var(--white);
}

.top-header-items i {
    font-size: 20px;
}

/* ================== TOP HEADER SECTION END ================== */
/* ================== BOTTOM HEADER SECTION START ================== */
.btm-header{
    background-color: var(--white);
    box-shadow: 0 0px 5px #00000069;
}
.logo-wrap{
    position: absolute;
    top: -4px;
    z-index: 20;
    max-width: 160px;
    height: auto;
}
.scroll-logo {
    /* display: none; */
    opacity: 0;
    transition: var(--transition);
}
header.fix-nav .btm-header .logo-wrap{
    /* display: none; */
    opacity: 0;
    transition: var(--transition);
}
header.fix-nav .btm-header .scroll-logo{
    /* display: block; */
    opacity: 1;
    max-width: 18%;
    transition: var(--transition);
}
.navbar-nav .nav-item {
    padding: 0 20px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--navy-blue);
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.navbar-nav .nav-item:first-child {
    padding-left: 0;
}

.navbar-nav .nav-item:last-child {
    padding-right: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link:hover {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}

.btm-header .btn-orange {
    margin-top: 0;
}
.main-wrap{
    margin-top: 140px;
}
/* =============== BOTTOM HEADER SECTION END =============== */
/* =============== HEADER SECTION END =============== */
/* =============== BANNER SLIDER START =============== */
.banner {
    position: relative;
    /* height: 800px; */
}

.banner-inner {
    position: relative;
    overflow: hidden;
    max-height: 700px;
}

.banner-inner::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 139, 213, 1) 0%, rgba(255, 255, 255, 0) 70%);
    width: 100%;
    height: 100%;
}

.banner-content {
    position: absolute;
    top: 43%;
    left: 105px;
    -ms-transform: translateY(-43%);
    transform: translateY(-43%);
}

.sec-btm {
    position: absolute;
    bottom: -1px;
}

/* ================= BANNER SLIDER END ================= */
/* ============== SUPPORT SECTION START ============== */
.support-items-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.box-shodow {
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: -10;
}

.support-item {
    width: 48%;
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
    background-color: var(--white);
    position: relative;
    z-index: 20;
}

.support-item:nth-child(odd) {
    top: -40px;
}

.support-item-header,
.helping-item-header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.support-item-title,
.helping-item-title {
    width: 70%;
}

.support-item p,.helping-item p {
    font-size: 16px;
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--navy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.support-item:hover {
    margin-top: -20px;
    margin-left: -20px;
    background-color: var(--navy-blue);
}

.icon-box .normal-img,
.icon-box .hover-img {
    width: 35px;
}
.support-item .icon-box .hover-img,
.support-item:hover .icon-box .normal-img,
.helping-item .icon-box .hover-img,
.helping-item:hover .icon-box .normal-img {
    display: none;
}

.support-item:hover .icon-box,
.helping-item:hover .icon-box {
    transition: var(--transition);
    box-shadow: 0 0 4px #00000070;
    background-color: var(--white);
}
.support-item:hover .icon-box .hover-img,
.helping-item:hover .icon-box .hover-img{
    display: block;
}
.support-item:hover h4,
.support-item:hover p,
.helping-item:hover h4,
.helping-item:hover p {
    color: var(--white);
    transition: var(--transition);
}

.supportSec-outer-row {
    position: relative;
}

.half-star {
    width: 120px;
    height: 126px;
    position: absolute;
    /* bottom: -52%; */
    left: 30%;
    z-index: 20;
    animation-name: moonrise;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ============= SUPPORT SECTION END ============= */
/* ============= HELPING SECTION START ============= */
.helpingSec {
    padding: 20px 0;
    /* height: 800px; */
    background: radial-gradient(92.94% 92.94% at 50% 50%, rgba(255, 102, 0, 0.00) 0%, #F60 100%);
}
.helpingSec-inner{
    padding: 50px 0;
}
.helping-item {
    padding: 20px;
    background-color: var(--white);
    transition: var(--transition);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.helping-item:hover {
    transition: var(--transition);
    background-color: var(--navy-blue);
}

.helping-item:hover .icon-box {
    margin-top: -50px;
    margin-bottom: 50px;
}
.big-star-icon img{
    width: 100px;
    animation-name: rotatestar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.small-star-icon {
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.small-star-icon img{
    /* width: 40px; */
    top: -20px;
    position: absolute;
    animation-name: scaleStar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ============= HELPING SECTION END ============= */
/* ============= VIDEO SECTION START ============= */
.videoSec{
    margin: 100px 0;
    padding: 80px 0;
    position: relative;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: left center;
}
.videoSec::before{
    content: '';
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    position: absolute;
    background: rgba(255, 102, 0, 0.60);
}
.videoSec-img {
    width: 90%;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.videoSec-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(5, 61, 99, 0.50);
}

.video-link-wrap{
    position: relative;
}
.video-link {
    /* content: ''; */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.video-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    border-radius: 50%;
    z-index: -10;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.earth-icon{
    width: 150px;
    position: absolute;
    z-index: -10;
    animation-name: earthrise;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.rocket-icon{
    position: absolute;
    right: 10%;
    /* bottom: -32%; */
    z-index: 20;
    animation-name: rocketlounch;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

/* ============= VIDEO SECTION END ============= */
/* ============= OUR TEAM SECTION START ============= */
.ourTeamSec{
    background: radial-gradient(137.57% 137.57% at 50% 50%, rgba(0, 139, 213, 0.00) 0%, #008BD5 70.31%);
}
.ourTeam-card{
    margin: 60px 10px;
    position: relative;
}
.ourTeam-card::after {
    content: '';
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(../img/shadow.png);
    background-size: contain;
}
.ourTeam-img {
    height: 300px;
    overflow: hidden;
    padding: 20px 20px 80px 20px;
    background: #fff;
}
.ourTeam-img img,.eventlist-img img,
.eventbig-img img,.testi-img img,
.post-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--transition);
}
.ourTeam-card:hover .ourTeam-img img,.eventlist-wrap-inner:hover .eventlist-img img,
.eventbig-warp:hover .eventbig-img img,.testi-img img:hover,
.post-card:hover .post-thumbnail img{
    transition: var(--transition);
    transform: scale3d(1.2, 1.2, 1.2);
}
.ourTeam-details-wrap {
    padding: 10px 30px 10px 50px;
    text-align: center;
    margin-top: -60px;
    background-repeat: no-repeat;
    background-image: url(../img/v-bg-box.png);
    background-size: cover;
    max-height: 90px;
    overflow-y: hidden;
}

.ourTeam-details{
    transition: var(--transition);
}
.ourTeam-card:hover .ourTeam-details{
    margin-top: -70px;
    transition: var(--transition);
}
.ourTeam-details h5,
.ourTeam-details p{
    color: var(--white);
}
.ourTeam-card .social-media{
    min-height: 70px;
}
.social-media li a{
    font-size: 20px;
    color: var(--white);
}
.slick-prev{
    right: 90px;
    z-index: 10;
    background-image: url(../img/prev-icon.png);
}
.slick-next{
    right: 20px;
    top: 0;
    background-image: url(../img/next-icon.png);
}
.slick-arrow{
    border: 0;
    font-size: 0;
    width: 50px;
    height: 50px;
    top: -50px;
    position: absolute;
    background-color: var(--sky);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.slick-arrow:hover{
    background-color: var(--navy-blue);
    transition: var(--transition);
}
.water-splash-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.water-splash{
    width: 200px;
    position: absolute;
    animation-name: waterSplash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.water-splash.ws-lft{
    left: 0;
}
.water-splash.ws-rht{
    right: 0;
    animation-delay: 2s;
}

/* ============= OUR TEAM SECTION END ============= */
/* ============= EVENT SECTION START ============= */
.eventbig-img-wrap {
    position: relative;
    /* z-index: -10; */
    margin-top: 40px;
}
.eventbig-img{
    height: 350px;
    overflow: hidden;
}
.datewrap{
    width: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/nb-strip-img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 80px;
}
.datetext {
    color: var(--white);
    text-align: center;
    margin-bottom: 25px;
    margin-right: 6px;
}
.eventbig-cont-wrap{
    color: var(--white);
    margin-top: -20px;
    padding: 25px;
    position: relative;
    border-radius: 6px;
    transition: var(--transition);
    background-color: var(--navy-blue);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.50);
}
.eventbig-cont-wrap h4 a,
.eventbig-cont-wrap p,
.datetext h4{
    color: var(--white);
}
.eventbig-cont-wrap h4 a,
.eventbig-cont-wrap p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: var(--transition);
}
.eventbig-warp:hover .eventbig-cont-wrap,
.eventbig-warp:hover .eventbig-cont-wrap h4 a,
.eventbig-warp:hover .eventbig-cont-wrap p{
    color: var(--navy-blue);
    transition: var(--transition);
}
.eventbig-warp:hover .eventbig-cont-wrap{
    background-color: var(--white);
}
.eventlist-wrap h5 a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--navy-blue);
}
.time-loc-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.time-loc-wrap img{
    width: 18px;
    margin-right: 5px;
}
.eventlist-wrap-outer{
    margin-top: 40px;
    /* height: 73%; */
    overflow-y: auto;
    max-height: 510px;
}
.eventlist-wrap-outer::-webkit-scrollbar {
    display: none;
  }
.eventlist-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--orange);
}
.eventlist-img-wrap{
    width: 40%;
    position: relative;
}
.eventlist-img {
    height: 85px;
    overflow: hidden;
    border-radius: 6px;
}

.eventlist-wrap .event-date{
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--navy-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 12px 0px 6px 0px;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.20);
}
.eventlist-wrap .time-loc-wrap{
    gap: 10px;
    margin-bottom: 10px;
}
.eventlist-wrap .time-loc-wrap img{
    width: 14px;
    display: inline-block;
}
.eventlist-wrap span{
    font-size: 11px;
}
.eventlist-wrap p{
    margin: 5px 0 0;
    font-size: 16px;
}

.eventlist-wrap:hover{
    color: var(--white);
    background-color: var(--orange);
    transition: var(--transition);
}

.eventlist-wrap:hover .event-date{
    color: var(--navy-blue);
    background-color: var(--white);
    transition: var(--transition);
}
.eventlist-wrap:hover h5 a,
.eventlist-wrap:hover p {
    color: var(--white);
}
/* ============= EVENT SECTION END ============= */
/* ============= CTA SECTION START ============= */
.ctaSec{
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px 0;
    position: relative;
}
.ctaSec::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 61, 99, 0.60);
}
.sec-top{
    top: 0;
}
.contarea{
    position: relative;
}
.contarea h3{
    color: var(--white);
}
.contarea .btn-orange{
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ctaSec .modal-body{
    text-align: start;
}
.qrcode{
    width: 200px;
    margin: 0 auto;
}
/* ============= CTA SECTION END ============= */
/* ============= TESTIMOIAL SECTION START ============= */
.testiSec{
    padding: 80px 0 0;
}
.testiSec-inner{
    position: relative;
}
.testiSec .col-sm-12,.blogSec .col-sm-12{
    margin-top: 100px;
}
.sun-img {
    margin-left: auto;
    position: absolute;
    right: 0;
    animation-name: sunDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.testi-card-wrap {
    margin: 0 10px;
}
.testi-card{
    padding: 30px;
    color: var(--white);
    background-color: var(--navy-blue);
    background-image: url('../img/quotes-top.png'),url('../img/quotes-btm.png');
    background-size: 70px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 90% 5%, 10% 95%;
}
.testi-card::before{
    content: '';
    position: absolute;
    bottom: -90px;
    right: 0;
    width: 70px;
    height: 90px;
    background-color: var(--navy-blue);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.testi-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.testi-reviews{
    margin-top: -75px;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.reviews{
    color: #E8D000;
    display: flex;
    align-items: center;
}

.reviews li{
    margin-right: 10px;
}
.testi-card p{
    font-size: 16px;
    color: var(--white);
}
.testi-details{
    padding: 15px 20px;
}
ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
ul.slick-dots li{
    margin-left: 10px;
}
ul.slick-dots li button{
    border: none;
    font-size: 0;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background-color: var(--orange);
}
ul.slick-dots li.slick-active button{
    height: 20px;
    width: 20px;
    position: relative;
    background-color: var(--white);
    border: 2px solid var(--navy-blue);
}
ul.slick-dots li.slick-active button::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: var(--navy-blue);
}
/* ============= TESTIMOIAL SECTION END ============= */
/* ============= BLOG SECTION START ============= */
.heading-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.post-card{
    position: relative;
    margin: 0 10px;
}
.post-thumbnail{
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}
.post-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sky);
    max-width: 130px;
    padding: 5px 10px;
    border-radius: 0 15px 15px 0;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.30);
    position: absolute;
    top: 60px;
    left: -10px;
}
.post-date::before{
    content: '';
    width: 11px;
    height: 30px;
    top: -29.5px;
    left: 0;
    position: absolute;
    background: linear-gradient(182deg, #0871A8 4.99%, rgba(217, 217, 217, 0.00) 358.24%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.post-date h4{
    color: var(--white);
    margin-right: 10px;
}
.post-date p{
    font-size: 16px;
    color: var(--white);
    margin: 0;
}
.post-details{
    position: relative;
    margin-top: -20px;
    padding: 20px;
    overflow: hidden;
    background-color:var(--white);
    border-radius: 15px 15px 0px 0px;
    transition: var(--transition);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.post-details::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transition: var(--transition);
    background-color: var(--navy-blue);
}
.post-details ul{
    font-size: 14px;
    color: var(--grey);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    position: relative;
    z-index: 20;
}
.post-details h5 a{
    color: var(--sky);
    font-size: 22px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post-details p{
    font-size: 16px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post-card:hover .post-details::after{
    height: 100%;
    transition: var(--transition);
}
.post-card:hover h5 a,
.post-card:hover p,
.post-card:hover ul{
    color: var(--white);
}
/* ============= BLOG SECTION END ============= */
/* ============= FOOTER START ============= */
footer{
    position: relative;
    overflow: hidden;
    transition: var(--transition);

}
.rocket-img-wrap{
    left: 15px;
    bottom: -90px;
    width: 100px;
    position: absolute;
    animation-name: rocketLounch;
    animation-duration: 8s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

.top-footer{
    padding: 90px 0;
    background-color: var(--navy-blue);
}
footer h4,footer a{
    color: var(--white);
    margin-bottom: 20px;
}
.top-footer a:hover{
    margin-left: 10px;
    color: var(--orange);
}
footer ul li{
    color: var(--white);
    margin-bottom: 10px;
}

.social-items ul.social-media{
    justify-content: flex-start;
}
.social-items ul.social-media li{
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transition: var(--transition);
}
.social-items ul.social-media li a{
    color: var(--navy-blue);
    margin-bottom: 0;
}
.social-items ul.social-media li:hover{
    transform: rotate(360deg);
    transition: var(--transition);
}
.social-items ul.social-media li a:hover{
    margin-left: 0;
}
.footer-btm{
    text-align: center;
    padding: 10px 0;
    background-color: #012B48;
}
.footer-btm p{
    font-size: 16px;
    color: var(--white);
}
.footer-btm p a{
    color: var(--orange);
    text-decoration: underline;
}
/* ============= FOOTER END ============= */
/* ============= FORM START ============= */
.form-group{
    margin-top: 20px;
    box-shadow: 0 2px 4px #646464;
    border-radius: 6px;
}
.form-control{
    border: none;
}
.form-control:focus-visible{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
}
.form-group .btn{
    color: var(--white);
    width: 100%;
    background-color: var(--orange);
}

/* ============= FORM END ============= */
/* =============== Key Frame and Animations CSS =============== */
@keyframes wave{
    0%   {
        opacity: 0;
        width: 100px;
        height: 100px;
        border: 2px solid var(--white);
    }
    100% {
        width: 150px;
        height: 150px;
        border: 26px solid var(--white);
        opacity: .3;
    }
}
@keyframes moonrise{
    0%   {
        bottom: -52%;
        opacity: 0;
    }
    100% {
        bottom: 0;
    }
}
@keyframes rotatestar{
    0%   {
       transform: rotate(30deg);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes scaleStar{
    0%   {
        width: 50px;
    }
    100% {
        width: 40px;
    }
}
@keyframes earthrise{
    0%   {
        top: 12%;
        left: 36%;
    }
    100% {
        top: -6%;
        left: 39%;
    }
}
@keyframes rocketlounch{
    0%   {
        width: 80px;
        bottom: -32%;
        opacity: 0;
    }
    50%   {
        width: 230px;
        opacity: 1;
    }
    100% {
        right: 35%;
        bottom: 115%;
        width: 80px;
        opacity: 0;
        z-index: -10;
    }
}
@keyframes waterSplash{
    0%   {
        width: 400px;
    }
    100% {
        width: 200px;
    }
}
@keyframes sunDown{
    0%   {
        top: -200px;
        max-width: 90px;
        opacity: 0;
    }
    100% {
        top: 0;
        max-width: 180px;
        opacity: 1;
    }
}
@keyframes rocketLounch{
    0%   {
        left: -10%;
        bottom: -50%;
        transform: rotate(45deg);
    }

    100% {
        left: 100%;
        bottom: 80%;
        transform: rotate(90deg);
    }
}
/* =============== Key Frame and Animations CSS =============== */
/* =============== Chat Bot CSS =============== */
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
chatbot-wrapper.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
chatbot-wrapper.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
chatbot-wrapper.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
chatbot-wrapper.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot .chatbot-header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot .chatbot-header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
.chatbot-header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot chatbot-header span {
    display: block;
  }
}
